<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415247311354-g70ehvo2askqsrp85qlhjg9ffmagroti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415247311354-g70ehvo2askqsrp85qlhjg9ffmagroti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415247311354-tr36bp5451e8sm3rjhkb4jfq0dbrkrb9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOIM3HkhyWrdSVRGmEnIM6yqFZSVANXIw</string>
	<key>GCM_SENDER_ID</key>
	<string>415247311354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghostcopy.ghostcopy</string>
	<key>PROJECT_ID</key>
	<string>ghostcopy-a6ea2</string>
	<key>STORAGE_BUCKET</key>
	<string>ghostcopy-a6ea2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415247311354:ios:8dc5c32b47423ef6320443</string>
</dict>
</plist>